{% extends "base.html" %}
{% block content1 %}
    Welcome <span id = "user">{{user}}</span>!
    <br>
    WPM: <div id="wpm"> </div>
    <br>
    <span id="typed"></span><span id="typing">{{typing}}</span><br>
    <input type="textbox" id="inputText"> </input>
    <div id="wordUpTo"> </div>
    <br>
    <br>
    <p> Remember to press space at the very end! </p>
    <script type="text/javascript" src="static/js/game.js"></script>

    <p> test: 
        <a href = "/leaderboard">test </a>
    </p>
{% endblock %}
