{% extends "base.html" %} {% block content1 %}

<body class="lakeside">
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BlackPants</a>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/">Home</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </div>
    </nav>
    <div class="boxGreen">
        <div class="teamName">
            <h2>Welcome <span id="user">{{user}}</span>!</h2>
            <br>
        </div>
        <h3 style="text-align:center">WPM:
            <div id="wpm"> </div>
        </h3>
        <form action="/">
            <input type="submit" value="Play Again"></input>
        </form>
        <br>
        <h3 style="text-align:center"> Remember to press space to continue onto the next word and at the end! </h3>
    </div>

    <div class="boxViolet">
        <h2><span id="typed"></span><span id="typing">{{typing}}</span>
            <br>
            <br>
            <input type="textbox" id="inputText"> </input>
        </h2>
        <h2>
            <div id="wordUpTo"> </div>
        </h2>
        <br>
        <br>

        <script type="text/javascript" src="static/js/game.js"></script>
    </div>
</body>


{% endblock %}
