{% extends "base.html" %} {% block content1 %}

<body class="firewatch">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BlackPants</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/">Home</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Log Out </a></li>
    </ul>
  </div>
  </nav>
    <div class="boxWood centered">
        <h1> {{user}}</h1>
        <br> Games Played: {{numGames}}
        <br> Average WPM: {{avgWPM}}
        <br> Highest WPM: {{highestWPM}}
    </div>
</body>
{% endblock %}
